html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 700;
}

div {
  border-radius: 8px;
}

div.error{
  width:100%;
  background-color: #ffbbbb;
  text-align: center;
}

/* div.background{
  background-color: #f5f5f5;
  margin: 0;
  min-height: 100dvh;
} */

div.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.slideshow{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
  min-height:100dvh;
  text-align: center;
}

div.slideshow-header{
  width:100%;
}

div.slideshow-content{
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  overflow: hidden;
  /* background-color: red; */
}

div.slideshow img{
  max-width: 100%;
  height:auto;
  display:block;
  border-radius: 5px;
}

div.slide_progress{
  width:100%;
  height:20px;
  border-radius: 8px;
  background-color: white;
  margin-bottom:20px;
  /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08); */
}
div.slide_progress_fill{
  background-color: #4f46e5;
  height:20px;
  transition: width 0.5s ease;
}

form {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background: #ffffff; */
  /* border-radius: 8px; */
  /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08); */
  text-align: center;
}

form.magic{
  max-width:100%;
  width:100%;
}

form *{
  text-align: center;
}

input, button {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
}

input {
  margin-top: 0.5rem;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
}

button {
  border: none;
  cursor: pointer;
  background-color: #4f46e5;
  color: #ffffff;
  font-weight: 600;
}

button:hover {
  background-color: #4338ca;
}

button:disabled{
  background-color:#bcb8e0
}

button.back{
  width:6em;
  text-align: center;
  position:fixed;
  bottom:20px;
  left:20px;
}

button.next{
  width:6em;
  text-align: center;
  position:fixed;
  bottom:20px;
  right:20px;
}
